@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiko&display=swap');

body{
	background-color: #DDDDDD;
	color: var(--primary-text-color);
	line-height: 154%;
}

.container {
	display: flex;
	justify-content: space-evenly;
	text-align: justify;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 28px 0px #2b2b2b;
	background-position: center;
	margin-left: 200px;
	margin-right: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 30px;
}

.container > div {
	width: 50%;
	padding-left: 10px;
	padding-right: -50px;
}
.container > div:first-child {
	margin-right: 30px;
	line-height: 1.8;
	
}


img {
	margin-right: 20px;
}

h1 {
	font-family: montserrat;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: #444440;
	letter-spacing: 4px;
	word-spacing: 3px;
	margin-left: -20px;
	margin-bottom: 10px;
	margin-top: 20px;
}

h2 {
	font-family:bebas neue, cyrillic;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	font-size: 55px;
	letter-spacing: 10px;
	word-spacing: 2px;
	line-height: 1;
}

h3 {
	font-family:amiko;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
	letter-spacing: 6px;
	margin-bottom: 20px;
	line-height: 1.6;
}

.font{
	font-family:amiko;
	font-size: 12px;
	color: #000000;
	letter-spacing: 25;
}

.font2{
	font-family:amiko;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

.chevron{
    font-family:bebas neue, cyrillic;
    font-weight: bold;
    color: #000000;
    font-size: 95px;
    line-height: 1.2;
}

.chevron > div {
	margin-top: 50px;
}


.contact{
	list-style-type: '>> ';
	margin-left: -18px;
	margin-top: 2px;
	font-family:amiko;
	font-size: 15px;
}

.liste{
	list-style-type: '> ';
	margin-left: -30px;
	margin-top: 2px;
	font-family:amiko;
	font-size: 13px;

}

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(12px, auto);


}

.one {
	grid-column: 1 / 2;
	grid-row: 1 / 5;
	font-family:amiko;
	font-size: 13px;
	color: #000000;
	line-height: 0;
	letter-spacing: 25;
}
.two { 
	grid-column: 1 / 2;
	grid-row: 2 / 5;
	font-family:amiko;
	font-size: 13px;
	color: #000000;
	line-height: 0;
	letter-spacing: 25;
}
.three {
	grid-column: 1 / 2;
	grid-row: 3 / 5;
	font-family:amiko;
	font-size: 13px;
	color: #000000;
	line-height: 0;
	letter-spacing: 25;
}
.four {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	font-family:amiko;
	font-size: 13px;
	color: #000000;
	line-height: 0;
	letter-spacing: 25;
}
.five {
	grid-column: 1 / 2;
	grid-row: 5 / 5;
	font-family:amiko;
	font-size: 13px;
	color: #000000;
	line-height: 0;
	letter-spacing: 25;
}
.six {
	grid-column: 2 / 2;
	grid-row: 1 / 5;
	font-family:amiko;
	font-size: 13px;
	color: #000000;
	line-height: 0;
	letter-spacing: 25;
}
.seven { 
	grid-column: 2 / 2;
	grid-row: 2 / 5;
	font-family:amiko;
	font-size: 13px;
	color: #000000;
	line-height: 0;
	letter-spacing: 25;
}
.eight {
	grid-column: 2 / 2;
	grid-row: 3 / 5;
	font-family:amiko;
	font-size: 13px;
	color: #000000;
	line-height: 0;
	letter-spacing: 25;
}
.nine {
	grid-column: 2 / 2;
	grid-row: 4 / 5;
	font-family:amiko;
	font-size: 13px;
	color: #000000;
	line-height: 0;
	letter-spacing: 25;
}
.ten {
	grid-column: 2 / 2;
	grid-row: 5 / 5;
	font-family:amiko;
	font-size: 13px;
	color: #000000;
	line-height: 0;
	letter-spacing: 25;
}

li.lvl1{
	list-style-image:url("img/cv%20niveau%201.png");
	margin-left: 4px;
}	

li.lvl2{
	list-style-image:url("img/cv%20niveau%202.png");
	margin-left: 4px;
}

li.lvl2-3{
	list-style-image:url("img/cv%20niveau%202-3.png");
	margin-left: 4px;
}

li.lvl3{
	list-style-image:url("img/cv%20niveau%203.png");
	margin-left: 4px;
}

li.lvl3-4{
	list-style-image:url("img/cv%20niveau%203-4.png");
	margin-left: 4px;
}